name: Security Scan

on:
  pull_request:
    paths-ignore:
      - 'README.md'
      - '.github/**'

jobs:
  scan:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install grep
        run: sudo apt-get update && sudo apt-get install -y grep

      - name: Run security scan
        run: |
          chmod +x bin/scan.sh
          bin/scan.sh -d . -o output/ci-results.log -j output/ci-results.json

      - name: Upload report
        uses: actions/upload-artifact@v3
        with:
          name: security-report
          path: output/ci-results.*

