name: Security Scan

# قل للـ runner متى يشتغل:
on:
  push:
    branches:
      - master    # لو رفعت للكود الأساسي
      - ci-test   # أو لتجربة على هذا الفرع
  pull_request:
    branches:
      - master
      - ci-test

jobs:
  scan:
    # هذا يربطه بالـ self-hosted runner على WSL
    runs-on: self-hosted

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install grep
        run: sudo apt-get update && sudo apt-get install -y grep

      - name: Run security scan
        run: |
          chmod +x bin/scan.sh
          bin/scan.sh -d . -o output/ci-results.log -j output/ci-results.json

      - name: Upload report
        uses: actions/upload-artifact@v3
        with:
          name: security-report
          path: output/ci-results.log,output/ci-results.json
